*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
.gradle
8531927.png
8531955.png
8531970.png
coffee.png
coffee-1.png
coffee (3).png
coffee-2.png
coffee (4).png
coffee (5).png
gradle.properties
gradlew.bat
settings.gradle.kts
local.properties
gradlew
coffee-1.png
coffee-2.png
